footer {
    background-image: url('../images/footer-green.png');
    padding: 8em;
    font-size: 12px;
}
footer strong {
    font-size: 16px;
}
footer ul {
    list-style-image: url('../images/footer-arrow.png');
}
footer li {
    margin-top: 13px;
    margin-left: -10px;
}
footer a {
    color: rgb(238, 238, 238);
}

.job-seekers-top-image,
.positions-top-image {
    height: 450px;
    background-image: url('https://staticcrate.com/assets/img/categories/backgrounds_LOW_POLY_NO_TEXT.jpg');
    background-size: 100% 100%;
    text-shadow: 1px 1px 6px black;
    color: white;
}

.job-seekers-content p,
.job-seekers-content li {
    color: rgb(165, 165, 165);
}
.job-seekers-content a {
    color: rgb(121, 121, 121);
}
.job-seekers-content a:hover {
    color: rgb(17, 186, 192);
}

.job-seekers-card {
    position: absolute;
    top: -200px;
    background: white;
}

.job-seekers-links {
    font-size: 20px;
    padding: 10px;
    width: 50px;
    text-align: center;
}

.position-card {
    padding: 42px 17px 28px 17px;
    width: 260px;
    text-align: left;
}
.position-card div {
    font-size: 11px;
}
.position-card span {
    color: rgb(194, 194, 194);
}
.position-card h6 {
    margin: 10px 0;
    font-size: 15px;
}
.position-card p {
    margin: 40px 0;
    font-size: 12px;
    color: rgb(165, 165, 165);
}
.position-card button,
.btn-small {
    font-size: 10px;
    padding: 2px 12px;
}
.position-card small {
    font-size: 11px;
}

.reviews {
    border: 2px solid lightgray;
    color: gray;
    font-size: 14px;
    padding: 24px;
    text-align: left;
}

.round-links {
    display: inline-block;
    padding: 1px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
}
.round-links:hover {
    background-color: rgb(17, 186, 192);
}
.round-links span {
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-image: url('../images/footer-green.png');
}
