.px-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.px-15 {
    padding-left: 15em;
    padding-right: 15em;
}

.py-10 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pr-9 {
    padding-right: 9em;
}

.w-250px {
    width: 250px;
}

.w-280px {
    width: 280px;
}

.w-300px {
    width: 300px;
}

.w-350px {
    width: 350px;
}

.w-400px {
    width: 400px;
}

.w-450px {
    width: 450px;
}

.w-500px {
    width: 500px;
}

.w-800px-max {
    max-width: 800px;
}

.form-control {
    width: 300px !important;
}

.ml-4p {
    margin-left: 1%;
}
