.px-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.px-15 {
    padding-left: 15em;
    padding-right: 15em;
}

.py-10 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.w-250px {
    width: 250px;
}

.w-280px {
    width: 280px;
}

.w-400px {
    width: 400px;
}

.form-control {
    width: 300px !important;
}

.ml-4p {
    margin-left: 1%;
}

.pr-9 {
    margin-right: 9em;
}
