:root {
    --brightblue: rgb(17, 186, 192);
    --purple: rgb(163, 25, 163);
    --darkgreen: rgb(17, 116, 108);
    --gray: rgb(165, 165, 165);
    --lightgray: rgb(240, 240, 240);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: var(--brightblue);
    text-decoration: none;
}

.btn-purple {
    background: var(--purple);
    color: white;
}

.btn-darkgreen {
    background: var(--darkgreen);
    color: white;
}

.text-purple {
    color: var(--purple);
}

.text-brightblue {
    color: var(--brightblue);
}

.text-gray {
    color: var(--gray);
}

.text-white {
    color: white;
}

.hover-white:hover {
    color: white !important;
}

.hover-brightblue:hover {
    color: var(--brightblue);
}

.hover-bg-brightblue:hover {
    background: var(--brightblue) !important;
}

.purple-checkmark {
    list-style-image: url('../images/purple-checkmark.png');
}
.purple-checkmark li {
    margin-bottom: 5px;
}

.radius {
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
}

.bg-lightgray {
    background: var(--lightgray);
}

.bg-brightblue-opacity {
    background: rgba(17, 186, 192, 0.5);
}

.bg-black-opacity {
    background: rgb(0, 0, 0, 0.5);
}
